process {
    cache = true
    stageInMode='symlink'
    stageOutMode='rsync'
}

params {
 
    in_dir = "/global5/scratch/projects/chipdesign/variant_calling/phasing_ready_redo/"

    out_dir = "/global5/scratch/projects/chipdesign/variant_calling/phasing_ready_redo/site_counts"

    project_name = "h3achip"
}

executor{
    jobName = { "$task.tag" } 
}

profiles{
    standard {
        process.executor = 'local'
    }

   pbs {
        process.executor = 'pbs'
        //process.queue = 'dev'
        process.queue = 'batch'
	process.clusterOptions = '-M gerrit.botha@uct.ac.za -m abe'
    }
}

