singularity.autoMounts = true
singularity.enabled = true

process {
    cache = true
    stageInMode='symlink'
    container = 'docker://broadinstitute/gatk:latest'
}

params {

    ref = "/home/gerrit/scratch/test-data/gatk/b37/human_g1k_v37_decoy.fasta"

    in_files = "/home/gerrit/scratch/test-data/NA12878/genome-calling/*recal-SNP.recal-INDEL.vcf.gz*"

    out_dir = "/home/gerrit/scratch/nextflow-out"

    type = "vcf"

    project_name = "ggvv"

}

executor{
    jobName = { "$task.tag" }
}

profiles{
    standard {
        process.executor = 'local'
        cpus = 4
    }

   pbs {
        process.executor = 'pbs'
        process.queue = 'dev'
        process.clusterOptions = '-M gerrit.botha@uct.ac.za -m abe -l walltime="24:00:00"'
        process.maxRetries = 5
        process.errorStrategy = 'retry'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.time = 96.h
        process.errorStrategy = 'retry'
      	process.maxRetries = 5
      	process.maxErrors = 1000
        process.clusterOptions = '--mail-user=gerrit.botha@uct.ac.za'
    }
}
