singularity.autoMounts = true
singularity.enabled = true

process {
    cache = true
    stageInMode='symlink'
    stageOutMode='rsync'

    withLabel: fastqc {
      container = 'docker://quay.io/biocontainers/fastqc:0.11.8--1'
    }

    withLabel: multiqc {
      container = 'docker://quay.io/biocontainers/multiqc:1.7--py_4'
    }
}

params {

    in_files = "/home/gerrit/scratch/test-data/NA12878/*_[1,2]_small.fastq.gz"

    out_dir = "/home/gerrit/scratch/nextflow-out"

    project_name = "rfm"

}

executor{
    jobName = { "$task.tag" }
}

profiles{
    standard {
        process.executor = 'local'
        cpus = 4
    }

   pbs {
        process.executor = 'pbs'
        process.queue = 'dev'
        process.clusterOptions = '-M gerrit.botha@uct.ac.za -m abe -l walltime="24:00:00"'
        process.maxRetries = 5
        process.errorStrategy = 'retry'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.time = 96.h
        process.errorStrategy = 'retry'
      	process.maxRetries = 5
      	process.maxErrors = 1000
        process.clusterOptions = '--mail-user=gerrit.botha@uct.ac.za'
    }
}
