process {
    cache = true
    stageInMode='symlink'
    stageOutMode='rsync'
}

params {
    raw_reads = "/global5/archive/projects/chipdesign/team/gerrit/realign_18_corrupted_bams/fastqs_renamed"
    out = "/global5/archive/projects/chipdesign/team/gerrit/realign_18_corrupted_bams/nf-out"
    project_name = "r18s"
}

executor{
    jobName = { "$task.tag" } 
}

profiles{
    standard {
        process.executor = 'local'
    }

   pbs {
        process.executor = 'pbs'
        process.queue = 'dev'
	process.clusterOptions = '-M gerrit.botha@uct.ac.za -m abe'
    }
}

