process {
    cache = true
    stageInMode='symlink'
    stageOutMode='rsync'
}

params {
    file_list = "/home/gerrit/code/bioinftk/transfer-prep/encrypt/file.list"
    key = "/global5/scratch/gerrit/h3a.key.asc"
    key_phrase = "H3A Data Archive"
    out = "/global5/scratch/gerrit/test-nxf/out"
    project_name = "encT"
}

executor{
    jobName = { "$task.tag" } 
}

profiles{
    standard {
        process.executor = 'local'
        process.cpu = 2
    }

   pbs {
        process.executor = 'pbs'
        process.queue = 'dev'
	process.clusterOptions = '-M gerrit.botha@uct.ac.za -m abe'
    }
}

