singularity.autoMounts = true
singularity.enabled = true

process {
    cache = true
    stageInMode='symlink'
    stageOutMode='rsync'
    
    withName: getQuast {
   	container='docker://quay.io/grbot/quast:latest'
    }

    withName: runMultiQC {
   	container='docker://ewels/multiqc:latest'
    }
}

params {

    in_files = "/home/gerrit/scratch/test-data/NA12878/*.bam"

    out_dir = "/home/gerrit/scratch/nextflow-out"

    ref = "/cbio/dbs/gatk/hg38/Homo_sapiens_assembly38.fasta"

    project_name = "gq"

    nt = 32 // number of threads

}

executor{
    jobName = { "$task.tag" }
}

profiles{
    standard {
        process.executor = 'local'
        cpus = 4
    }

   pbs {
        process.executor = 'pbs'
        process.queue = 'dev'
        process.clusterOptions = '-M gerrit.botha@uct.ac.za -m abe -l walltime="24:00:00"'
        process.maxRetries = 5
        process.errorStrategy = 'retry'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.time = 96.h
        process.errorStrategy = 'retry'
      	process.maxRetries = 5
      	process.maxErrors = 1000
        process.clusterOptions = '--mail-user=gerrit.botha@uct.ac.za'
    }
}
